<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anime-univers</title>
    <link rel="icon" href="/scr/asset/image/icon.png" />
    <link rel="stylesheet" href="/scr/model/style.css" />
    <link rel="stylesheet" href="/scr/model/discover.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous" />
    <!-- swiper cdn -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>
  <body>
    <nav class="p-2">
      <div class="d-flex align-items-center">
        <div class="container d-flex align-items-center px-lg-5 gap-lg-3">
          <div class="logo">
            <a href="#"
              ><img src="/scr/asset/image/logoicon.png" alt="" width="100px"
            /></a>
          </div>
          <form action="" class="search-bar d-flex gap-1">
            <input
              type="text"
              placeholder="Search..."
              class="form-control bg-transparent border-0 shadow-none text-white"
              size="35" />
            <button type="submit" class="border-0 bg-transparent">
              <i class="bi bi-search text-white"></i>
            </button>
          </form>
          <div class="list d-lg-flex d-none list-unstyled gap-3">
            <li class="nav-item">
              <a href="index.html" class="nav-link">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" id="">
                <i class="bi bi-tv"></i>
                <span>Live TV</span>
              </a>
            </li>

            <!-- On Demand Dropdown -->
            <li class="nav-item dropdown">
              <a href="#" class="nav-link">
                <i class="bi bi-badge-4k"></i>
                <span>On Demand</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="discover.html" class="nav-link" id="active">
                <i class="bi bi-compass"></i>
                <span>Discover</span>
              </a>
            </li>
          </div>
        </div>
        <!-- open sign in -->
        <div class="sign-in me-lg-5">
          <button class="btn rounded-3 text-white fw-bold" id="openSignIn">
            <i class="bi bi-person-circle"></i>
            <span>Sign In</span>
          </button>
        </div>
      </div>
      <!-- overlay -->
      <div id="overlay" class="overlay2"></div>
      <div class="sign-in-click" id="signInContainer">
        <div
          class="border border-2 py-2 px-5 rounded-5 btn mb-3"
          style="width: 416px">
          <img
            src="/scr/asset/icon/google.png"
            class="img-fluid"
            alt=""
            width="20px" />
          <span class="text-dark ps-1">Continue with Google</span>
        </div>
        <div
          class="bg-black border border-2 border-dark py-2 px-5 rounded-5 btn mb-3"
          style="width: 416px">
          <i class="bi bi-apple text-white"></i>
          <span class="text-dark ps-1 text-white">Continue with Apple</span>
        </div>
        <div class="text">
          <span class="fs-6">
            By signing up or continuing to use Anime-univers you confirm that
            you've read and accept the
            <span class="fw-bold">Terms of Service</span> and
            <span class="fw-bold">Privacy Policy</span>.
          </span>
        </div>
        <form onsubmit="return false" class="my-3">
          <input
            id="email"
            type="text"
            placeholder="Your email address"
            class="form-control mb-3 bg-transparent border shadow-none"
            required
            size="50" />
          <input
            id="password"
            type="password"
            placeholder="Your password"
            class="form-control mb-3 bg-transparent border shadow-none"
            required
            size="50" />
          <button class="btn border w-100 rounded-5 bg-warning" type="submit">
            <strong>Sign In</strong>
          </button>
        </form>
      </div>
      <div
        class="list-small d-lg-none d-flex list-unstyled gap-3 position-fixed z-3">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-tv"></i>
            <span>Live TV</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-badge-4k"></i>
            <span>On Demand</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="bi bi-compass"></i>
            <span>Discover</span>
          </a>
        </li>
      </div>
    </nav>
    <section class="movie" style="background-color: #151515">
      <!-- Slider main container -->
      <h3 class="text-white pt-5 ps-5">Most Popular</h3>
      <div class="container-fluid swiper">
        <div class="card-wrapper">
          <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/cb/8c/bd/cb8cbddcda914dd0cb8ed48971cb040d.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Jujutsukaisen</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/f7/7d/3b/f77d3bd039959c81e499bf5592b9bf35.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Naruto</h6>
              <h6 class="small opacity-75 text-white">2017</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/f2/e4/b8/f2e4b8b7eb8ca18a025c735dd81f9c79.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">HunterXHunter</h6>
              <h6 class="small opacity-75 text-white">2012</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/10/8e/3b/108e3b1df00743bb3ce908a48c8e7e47.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">One Piece</h6>
              <h6 class="small opacity-75 text-white">2010</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/32/0a/b7/320ab7994967c304099d49b9ba405a70.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Your Name</h6>
              <h6 class="small opacity-75 text-white">2019</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/6c/ac/87/6cac87767fa12a06f5f937412ea86770.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Grave of the Fireflies</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/16/f6/c2/16f6c20886ea457b39d3cb75b60a00ba.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Kikis Delivery Service</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/e6/fa/6d/e6fa6d8d4a4bd5ac1315aa49a71ff769.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">From Up On Poppy Hill</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/33/98/e3/3398e30e056d70cc64f2de4b88b8d3de.jpg"
                  alt="" />
              </a>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev text-white"></div>
          <div class="swiper-button-next text-white"></div>
        </div>
      </div>
      <h3 class="text-white pt-5 ps-5">Brose by Giviva</h3>
      <div class="menu-movie ms-5">
        <ul class="d-flex list-unstyled gap-3">
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Action</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Animation</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Anime</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Comedy</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Crime</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Documentary</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Drama</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Family</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Horror</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Music</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">News</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Reality</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Music</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Romance</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Sci-Fi & Fantasy</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Triller</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">War</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">Western</a>
          </li>
        </ul>
      </div>
      <div class="container-fluid swiper">
        <div class="card-wrapper">
          <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/cb/8c/bd/cb8cbddcda914dd0cb8ed48971cb040d.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Jujutsukaisen</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/f7/7d/3b/f77d3bd039959c81e499bf5592b9bf35.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Naruto</h6>
              <h6 class="small opacity-75 text-white">2017</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/f2/e4/b8/f2e4b8b7eb8ca18a025c735dd81f9c79.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">HunterXHunter</h6>
              <h6 class="small opacity-75 text-white">2012</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/10/8e/3b/108e3b1df00743bb3ce908a48c8e7e47.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">One Piece</h6>
              <h6 class="small opacity-75 text-white">2010</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/32/0a/b7/320ab7994967c304099d49b9ba405a70.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Your Name</h6>
              <h6 class="small opacity-75 text-white">2019</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/6c/ac/87/6cac87767fa12a06f5f937412ea86770.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Grave of the Fireflies</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/16/f6/c2/16f6c20886ea457b39d3cb75b60a00ba.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Kikis Delivery Service</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/e6/fa/6d/e6fa6d8d4a4bd5ac1315aa49a71ff769.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">From Up On Poppy Hill</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/33/98/e3/3398e30e056d70cc64f2de4b88b8d3de.jpg"
                  alt="" />
              </a>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev text-white"></div>
          <div class="swiper-button-next text-white"></div>
        </div>
      </div>
      <h3 class="text-white pt-5 ps-5">Romantic</h3>
      <div class="container-fluid swiper">
        <div class="card-wrapper">
          <ul class="card-list swiper-wrapper">
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/cb/8c/bd/cb8cbddcda914dd0cb8ed48971cb040d.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Jujutsukaisen</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/f7/7d/3b/f77d3bd039959c81e499bf5592b9bf35.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Naruto</h6>
              <h6 class="small opacity-75 text-white">2017</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/f2/e4/b8/f2e4b8b7eb8ca18a025c735dd81f9c79.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">HunterXHunter</h6>
              <h6 class="small opacity-75 text-white">2012</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/10/8e/3b/108e3b1df00743bb3ce908a48c8e7e47.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">One Piece</h6>
              <h6 class="small opacity-75 text-white">2010</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/32/0a/b7/320ab7994967c304099d49b9ba405a70.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Your Name</h6>
              <h6 class="small opacity-75 text-white">2019</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/6c/ac/87/6cac87767fa12a06f5f937412ea86770.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Grave of the Fireflies</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/16/f6/c2/16f6c20886ea457b39d3cb75b60a00ba.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">Kikis Delivery Service</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/e6/fa/6d/e6fa6d8d4a4bd5ac1315aa49a71ff769.jpg"
                  alt="" />
              </a>
              <h6 class="mt-2 text-white">From Up On Poppy Hill</h6>
              <h6 class="small opacity-75 text-white">2022</h6>
            </li>
            <li class="card-item swiper-slide">
              <a href="#">
                <img
                  src="https://i.pinimg.com/736x/33/98/e3/3398e30e056d70cc64f2de4b88b8d3de.jpg"
                  alt="" />
              </a>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev text-white"></div>
          <div class="swiper-button-next text-white"></div>
        </div>
      </div>
    </section>
    <footer style="background-color: #0b0b0b" class="p-4 m-lg-0">
      <div class="container">
        <div class="row footer justify-content-center">
          <div class="col-lg-2 col-12 text-center">
            <img src="/scr/asset/image/logoicon.png" alt="" width="200px" />
          </div>
          <div class="col-md-2 col-12">
            <h6 class="text-white">Company</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="nav-link">About</a></li>
              <li><a href="#" class="nav-link">Careers</a></li>
              <li><a href="#" class="nav-link">Our Culture</a></li>
              <li><a href="#" class="nav-link">Giving</a></li>
              <li><a href="#" class="nav-link">Press Room</a></li>
              <li><a href="#" class="nav-link">Partners</a></li>
              <li>
                <a href="#" class="nav-link">Anime-univers Gear</a>
              </li>
              <li>
                <a href="#" class="nav-link">The Anime-univers Blog</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-12">
            <h6 class="text-white">Anime-univers Pass</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="nav-link">Go Primium</a></li>
              <li>
                <a href="#" class="nav-link">Anime-univers Lab</a>
              </li>
              <li><a href="#" class="nav-link">Get Perks</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-12">
            <h6 class="text-white">Download</h6>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="nav-link"> Anime-univers Media Sever</a>
              </li>
              <li><a href="#" class="nav-link">Anime-univers</a></li>
              <li>
                <a href="#" class="nav-link">Where to watch</a>
              </li>
              <li>
                <a href="#" class="nav-link">Anime-univers Photo</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-12">
            <h6 class="text-white">About</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="nav-link">Company</a></li>
              <li><a href="#" class="nav-link">Press</a></li>
              <li><a href="#" class="nav-link">Careers</a></li>
              <li><a href="#" class="nav-link">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-12">
            <h6 class="text-white">About</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="nav-link">Company</a></li>
              <li><a href="#" class="nav-link">Press</a></li>
              <li><a href="#" class="nav-link">Careers</a></li>
              <li><a href="#" class="nav-link">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="">
          <p class="text-white text-center">
            &copy; 2023 Anime-univers. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
    <script src="/scr/script/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>
