.menu-movie ul li a {
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  border: 1px solid none;
  background-color: #3f3f3f;
  padding: 5px 15px;
  border-radius: 30px;
}
.menu-movie {
  overflow-x: auto;
}
.menu-movie::-webkit-scrollbar {
  width: 0px;
}

